import org.codehaus.cake.ops.PrimitivePredicates;
import static org.codehaus.cake.ops.PrimitivePredicates.*;
import static org.codehaus.cake.internal.ops.InternalPrimitivePredicateDefinition.*;
import static org.codehaus.cake.test.util.TestUtil.assertIsSerializable;
import static org.junit.Assert.*;

import org.codehaus.cake.ops.Ops.*;
import org.codehaus.cake.test.util.TestUtil;
import org.junit.Test;
/**
 * Various tests for {@link ${Type}Predicates}.
 *
 * @author <a href="mailto:kasper@codehaus.org">Kasper Nielsen</a>
 * @version $Id: TYPEpredicatesTest.vm 227 2008-11-30 22:13:02Z kasper ${this}.java 590 2008-03-14 08:16:12Z kasper $
 */
public final class ${this} {

    /**
     * Tests {@link LongPredicates#and(LongPredicate, LongPredicate)}.
     */
    @Test
    public void and() {
        assertTrue(PrimitivePredicates.and(${upper}_TRUE, ${upper}_TRUE).op($util.val(1)));
        assertFalse(PrimitivePredicates.and(${upper}_TRUE, ${upper}_FALSE).op($util.val(1)));
        assertFalse(PrimitivePredicates.and(${upper}_FALSE, ${upper}_TRUE).op($util.val(1)));
        assertFalse(PrimitivePredicates.and(${upper}_FALSE, ${upper}_FALSE).op($util.val(1)));

        And${Type}Predicate p = new And${Type}Predicate(${upper}_FALSE, ${upper}_TRUE);
        assertSame(p.getLeft(), ${upper}_FALSE);
        assertSame(p.getRight(), ${upper}_TRUE);
        p.toString(); // no exception
        assertIsSerializable(p);

        // shortcircuted evaluation
        PrimitivePredicates.and(${upper}_FALSE, TestUtil.dummy(${Type}Predicate.class)).op($util.val(1));
    }

    /**
     * Tests that {@link ${Type}Predicates#and(${Type}Predicate, ${Type}Predicate)} throws a
     * {@link NullPointerException} when invoked with a left side <code>null</code>
     * argument.
     */
    @Test(expected = NullPointerException.class)
    public void andNPE() {
        PrimitivePredicates.and(null, ${upper}_TRUE);
    }

    /**
     * Tests that {@link ${Type}Predicates#and(${Type}Predicate, ${Type}Predicate)} throws a
     * {@link NullPointerException} when invoked with a right side <code>null</code>
     * argument.
     */
    @Test(expected = NullPointerException.class)
    public void andNPE1() {
        PrimitivePredicates.and(${upper}_TRUE, null);
    }
    
    /* Test greater then */
    @Test
    public void equalsTo() {
        ${Type}Predicate f = PrimitivePredicates.equalsTo($util.val(5));
        assertEquals($util.val(5), new EqualsTo${Type}Predicate($util.val(5)).getEqualsTo()${equalTest});
        assertFalse(f.op($util.val(4)));
        assertTrue(f.op($util.val(5)));
        assertFalse(f.op($util.val(6)));

        f.toString(); // no exceptions

        TestUtil.assertIsSerializable(f);
    }
    
    /**
     * Tests {@link ${Type}Predicates#FALSE}.
     */
    @Test
    public void falsePredicate() {
        assertFalse(${upper}_FALSE.op($util.val(2)));
        assertFalse(${upper}_FALSE.op(${object}.MIN_VALUE));
        ${upper}_FALSE.toString(); // does not fail
        assertIsSerializable(${upper}_FALSE);
        assertSame(${upper}_FALSE, TestUtil.serializeAndUnserialize(${upper}_FALSE));
    }
   
    /* Test greater then */
    @Test
    public void greaterThen() {
        ${Type}Predicate f = PrimitivePredicates.greaterThen($util.val(5));
        assertEquals($util.val(5), new GreaterThen${Type}Predicate($util.val(5)).getGreaterThen()${equalTest});
        assertFalse(f.op($util.val(4)));
        assertFalse(f.op($util.val(5)));
        assertTrue(f.op($util.val(6)));

        f.toString(); // no exceptions

        TestUtil.assertIsSerializable(f);
    }

    @Test
    public void greaterThenOrEquals() {
        ${Type}Predicate f = PrimitivePredicates.greaterThenOrEquals($util.val(5));
        assertEquals($util.val(5), new GreaterThenOrEquals${Type}Predicate($util.val(5)).getGreaterThenOrEquals()${equalTest});
        assertFalse(f.op($util.val(4)));
        assertTrue(f.op($util.val(5)));
        assertTrue(f.op($util.val(6)));

        f.toString(); // no exceptions

        TestUtil.assertIsSerializable(f);
    }

    /* Test greater then */
    @Test
    public void lessThen() {
        ${Type}Predicate f = PrimitivePredicates.lessThen($util.val(5));
        assertEquals($util.val(5), new LessThen${Type}Predicate($util.val(5)).getLessThen()${equalTest});
        assertTrue(f.op($util.val(4)));
        assertFalse(f.op($util.val(5)));
        assertFalse(f.op($util.val(6)));

        f.toString(); // no exceptions

        TestUtil.assertIsSerializable(f);
    }

    /* Test greater then */
    @Test
    public void lessThenOrEquals() {
        ${Type}Predicate f = PrimitivePredicates.lessThenOrEquals($util.val(5));
        assertEquals($util.val(5), new LessThenOrEquals${Type}Predicate($util.val(5)).getLessThenOrEquals()${equalTest});
        assertTrue(f.op($util.val(4)));
        assertTrue(f.op($util.val(5)));
        assertFalse(f.op($util.val(6)));

        f.toString(); // no exceptions

        TestUtil.assertIsSerializable(f);
    }
   
   
     /**
     * Tests that {@link ${Type}Predicates#not(${Type}Predicate)} throws a
     * {@link NullPointerException} when invoked with a <code>null</code> argument.
     */
    @Test(expected = NullPointerException.class)
    public void notNPE() {
        PrimitivePredicates.not((${Type}Predicate) null);
    }

    /**
     * Tests {@link ${Type}Predicates#TRUE}.
     */
    @Test
    public void notPredicate() {
        assertFalse(PrimitivePredicates.not(${upper}_TRUE).op($util.val(2)));
        assertTrue(PrimitivePredicates.not(${upper}_FALSE).op($util.val(2)));
        PrimitivePredicates.not(${upper}_TRUE).toString(); // does not fail
        assertIsSerializable(PrimitivePredicates.not(${upper}_TRUE));
        assertSame(${upper}_TRUE, ((Not${Type}Predicate) PrimitivePredicates.not(${upper}_TRUE)).getPredicate());
    }

    /**
     * Tests {@link ${Type}Predicates#or(${Type}Predicate, ${Type}Predicate)}.
     */
    @Test
    public void or() {
        assertTrue(PrimitivePredicates.or(${upper}_TRUE, ${upper}_TRUE).op($util.val(1)));
        assertTrue(PrimitivePredicates.or(${upper}_TRUE, ${upper}_FALSE).op($util.val(1)));
        assertTrue(PrimitivePredicates.or(${upper}_FALSE, ${upper}_TRUE).op($util.val(1)));
        assertFalse(PrimitivePredicates.or(${upper}_FALSE, ${upper}_FALSE).op($util.val(1)));

        Or${Type}Predicate p = new Or${Type}Predicate(${upper}_FALSE, ${upper}_TRUE);
        assertSame(p.getLeft(), ${upper}_FALSE);
        assertSame(p.getRight(), ${upper}_TRUE);
        p.toString(); // no exception
        assertIsSerializable(p);

        // shortcircuted evaluation
        PrimitivePredicates.or(${upper}_TRUE, TestUtil.dummy(${Type}Predicate.class)).op($util.val(1));
    }

    /**
     * Tests that {@link ${Type}Predicates#or(${Type}Predicate, ${Type}Predicate)} throws a
     * {@link NullPointerException} when invoked with a left side <code>null</code>
     * argument.
     */
    @Test(expected = NullPointerException.class)
    public void orNPE() {
        PrimitivePredicates.or(null, ${upper}_TRUE);
    }

    /**
     * Tests that {@link ${Type}Predicates#or(${Type}Predicate, ${Type}Predicate)} throws a
     * {@link NullPointerException} when invoked with a right side <code>null</code>
     * argument.
     */
    @Test(expected = NullPointerException.class)
    public void orNPE1() {
        PrimitivePredicates.or(${upper}_TRUE, null);
    }
   
    
   /**
     * Tests {@link ${Type}Predicates#TRUE}.
     */
    @Test
    public void truePredicate() {
        assertTrue(${upper}_TRUE.op($util.val(2)));
        assertTrue(${upper}_TRUE.op(${object}.MIN_VALUE));
        ${upper}_TRUE.toString(); // does not fail
        assertIsSerializable(${upper}_TRUE);
        assertSame(${upper}_TRUE, TestUtil.serializeAndUnserialize(${upper}_TRUE));
    }
}