import java.math.*;
#set( $visible = "" )
/**
 * Various implementations of {@link ${Type}Predicate}.
 * <p>
 * This class is normally best used via <tt>import static</tt>.
 *
 * @author <a href="mailto:kasper@codehaus.org">Kasper Nielsen</a>
 * @version $Id: ${this}.java 590 2008-03-14 08:16:12Z kasper $
 */
public final class ${this} {
    ///CLOVER:OFF
    /** Cannot instantiate. */
    private ${this}() {}
    ///CLOVER:ON

    
#parse("ops/TYPEops/abs.include")
#parse("ops/TYPEops/adms.include")  
#if($isPrimitive)
#parse("ops/TYPEops/comparators.include")
#parse("ops/TYPEops/maxmin.include")
#end   
}